.container--itemDetail {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.itemDetail--title {
	width: 100%;
	text-align: center;
	margin: 15px 0px;
}
.itemDetail--img {
	width: 70%;
}
.itemDetail--price {
	width: 100%;
	text-align: center;
	margin: 15px 0px;
}
.itemDetail--stock {
	width: 100%;
	text-align: center;
	margin: 15px 0px;
}
.itemDetail--description {
	width: 100%;
	text-align: center;
	margin: 15px 0px;
}
