.container--cartWidget {
	position: relative;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 40px;
}
.cart--icon {
	font-size: 22px;
}
.cart--quantity {
	width: 25px;
	height: 25px;
	border: 1px solid rgb(0, 255, 72);
	border-radius: 50%;
	line-height: 20px;
	position: absolute;
	bottom: 20px;
	left: 0px;
	font-size: 18px;
}
