.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;  
    height: 90px;
    background-color: rgba(75, 244, 81, 0.722);
    top: 0;
    margin-bottom: 45px;
  }
  
  a{
    text-decoration: none;
    font-weight:400;
    font-size: 1.5em;
    color:rgb(14, 9, 66)
  }
  
  
  a:hover{
    font-weight: 600;
    color:rgb(19, 19, 17)
  }